<div class="container">
  <button (click)="onNoClick()" class="close-button" mat-icon-button tabindex="-1">
    <span class="material-symbols-rounded">close</span>
  </button>

  <div class="info-and-file">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select placeholder="Artist">
        <mat-option [value]="'artist1'">Awesome artist 1</mat-option>
        <mat-option [value]="'artist2'">Awesome artist 2</mat-option>
        <mat-option [value]="'artist3'">Awesome artist 3</mat-option>
        <mat-option [value]="'artist4'">Awesome artist 4</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select placeholder="Genres">
        <mat-option [value]="'genre1'">Awesome genre 1</mat-option>
        <mat-option [value]="'genre2'">Awesome genre 2</mat-option>
        <mat-option [value]="'genre3'">Awesome genre 3</mat-option>
        <mat-option [value]="'genre4'">Awesome genre 4</mat-option>
      </mat-select>
    </mat-form-field>
    <app-upload-song-box class="file"></app-upload-song-box>
  </div>

  <button (click)="closeDialog()" [disabled]="false" class="orange-button finish">
    Create
  </button>
</div>
