@import "colors";

.picture-wrapper {
  display: inline-block;
  width: calc(35px * 1.5);
  height: calc(35px * 1.5);
}

.missing-picture-small {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background: $white2 none;
  color: $white4;
  transform-origin: top left;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: scale(1.5);
}
