<div class="container">
  <button (click)="auth.logout()" class="logout-button orange-button">Logout</button>
  <div class="search-container">
    <div class="search">
      <app-search />
    </div>
  </div>

  <div class="center-container">
    <div class="genres">
      <div (click)="goToGenre(genre)" class="genre" *ngFor="let genre of genres">
        <div class="genre-name">
          <p class="genre-name"><b>{{ genre.name }}</b></p>
        </div>
        <div class="is-subscribed">
<button
  class="subscribe-button"
  (click)="toggleGenreSubscription($event, genre)"
  [disabled]="busyIds.has(genre.id)"
>
  <span class="material-symbols-rounded icon" [ngClass]="{ 'full': genre.isSubscribed }">
    circle_notifications
  </span>
</button>

        </div>
      </div>
    </div>
  </div>
</div>
