@import "colors";
@import "buttons";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background3;
}

.sidebar-banner {
  width: 15rem;
  height: 3rem;
  margin-top: 2.6rem;
  margin-left: 2rem;
  position: absolute;
  cursor: pointer;
}

.large-text {
  color: $text;
  font-size: xx-large;
  margin-bottom: 24px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

mat-form-field {
  width: 360px;
}

.button {
  width: 360px;
}

.password-strength-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: none;
  margin-top: -16px;
  max-height: 0;
  opacity: 0;
}

.password-strength-wrapper.visible {
  margin-top: 0;
  max-height: 100%;
  opacity: 1;
  transition: opacity 0.25s;
}

.password-strength-text {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.white-text {
  color: $whitish;
  margin: 6px 0 0;
  font-size: large;
}

.password-strength-meter {
  margin-top: -6px;
  display: flex;
  gap: 7px;
  justify-content: center;
  width: 100%;
}

.white {
  background: $whitish;
  border-radius: 3px;
  width: 25%;
  height: 6px;
}

.blue {
  background: $accent;
  border-radius: 3px;
  width: 25%;
  height: 6px;
}

.hints {
  margin: 0;
  padding-left: 1.2rem;
  text-align: left;
  align-self: flex-start;
}

.hints li {
  list-style: disc;
  opacity: .9;
  color: $whitish;
}

.blue-button {
  margin-top: 16px;
}
