<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="container">
  <button (click)="createNewAlbum()" class="bottom-right-button orange-button">
    <span class="material-symbols-rounded">add</span> Create new album
  </button>
  <div class="table-container">
    <mat-table [dataSource]="albumsDataSource">
      <ng-container matColumnDef="cover">
        <mat-header-cell class="cover" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="cover" *matCellDef="let album">
          <img *ngIf="album.cover_url; else missingCover" [src]="album.cover_url" alt="cover" class="cover-picture"/>
          <ng-template #missingCover>
            <app-box-missing-icon-small [icon_name]="'album'" class="cover-no-picture"></app-box-missing-icon-small>
          </ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell class="name" *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell
          class="name"
          *matCellDef="let album"
          (click)="router.navigate(['edit-album', album.id])"
        ><p class="nowrap-text">{{ album.name }}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="artists">
        <mat-header-cell class="artists" *matHeaderCellDef>Artists</mat-header-cell>
        <mat-cell class="artists" *matCellDef="let album"><p class="nowrap-text">{{ getAlbumArtists(album) }}</p></mat-cell>
      </ng-container>

      <ng-container matColumnDef="genres">
        <mat-header-cell class="genres" *matHeaderCellDef>Genres</mat-header-cell>
        <mat-cell class="genres" *matCellDef="let album"><p class="nowrap-text">{{ getAlbumGenres(album) }}</p></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="actions" *matCellDef="let album">
          <button mat-icon-button (click)="editAlbum(album)">
            <span class="material-symbols-rounded">edit</span>
          </button>
          <button (click)="deleteAlbum(album)" mat-icon-button>
            <span class="material-symbols-rounded">delete</span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

