<div *ngIf="loading" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="container">
  <button (click)="addSong()" class="bottom-right-button orange-button wide">
    <span class="material-symbols-rounded">add</span> Add song to the album
  </button>
  <div class="album-header">
    <div class="album-info">
      <img *ngIf="cover; else missingCover" [src]="cover" alt="cover" class="cover-picture"/>
      <ng-template #missingCover>
        <app-box-missing-icon-small [icon_name]="'album'" class="cover-no-picture"></app-box-missing-icon-small>
      </ng-template>
      <p class="album-name">{{ albumName }}</p>
    </div>
    <div class="album-control">
      <button (click)="release()" class="orange-button control-button">{{ editMode ? "Edit" : "Release" }}</button>
    </div>
  </div>
  <div class="table-container">
    <mat-table [dataSource]="songs">
      <ng-container matColumnDef="name">
        <mat-header-cell class="name" *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell class="name" *matCellDef="let song"><p class="nowrap-text">{{ song.name }}</p></mat-cell>
      </ng-container>

      <ng-container matColumnDef="artists">
        <mat-header-cell class="artists" *matHeaderCellDef>Artists</mat-header-cell>
        <mat-cell class="artists" *matCellDef="let song"><p class="nowrap-text">{{ getSongArtists(song) }}</p></mat-cell>
      </ng-container>

      <ng-container matColumnDef="genres">
        <mat-header-cell class="genres" *matHeaderCellDef>Genres</mat-header-cell>
        <mat-cell class="genres" *matCellDef="let song"><p class="nowrap-text">{{ getSongGenres(song) }}</p></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="actions" *matCellDef="let song">
          <button mat-icon-button>
            <span class="material-symbols-rounded">edit</span>
          </button>
          <button (click)="removeSong(song)" mat-icon-button>
            <span class="material-symbols-rounded">delete</span>
          </button>
          <button (click)="playSong(song)" mat-icon-button>
            <span class="material-symbols-rounded play">play_arrow</span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

