@import "table";
@import "colors";
@import "buttons";

.container {
  display: flex;
  flex-direction: column;
  padding: 50px 200px 80px;
}

.album-header {
  display: flex;
  align-items: center;
  width: calc(100% + 48px);
  justify-content: space-between;
  margin-bottom: 25px;

  .album-info {
    display: flex;
    gap: 20px;
    align-items: center;

    .album-name {
      color: $white;
      margin: 0;
      font-size: xxx-large;
    }
  }

  .album-control {
    display: flex;
    gap: 20px;

    .control-button {
      width: 200px;
      height: 50px;
    }
  }
}

.table-container {
  width: 100%;
  background-color: $background2;
  padding: 24px 24px 40px 24px;
  border-radius: 24px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0;
}

.play {
  font-variation-settings: "FILL" 1;
}

.cover-picture {
  margin-top: 6px;
  margin-bottom: 6px;
}

.nowrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-header-cell.name,
mat-cell.name {
  flex: 0 0 30%;
}

mat-header-cell.artist,
mat-cell.artist {
  flex: 0 0 25%;
}

mat-header-cell.genres,
mat-cell.genres {
  flex: 0 0 30%;
}

mat-header-cell.actions,
mat-cell.actions {
  flex: 0 0 15%;
}
