@import "colors";

.drop-zone {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.selected-file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-name {
  font-size: 14px;
  color: $white;
  text-align: center;
  max-width: 200px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  -webkit-line-clamp: 3;

  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.icon {
  transform: scale(3);
  color: $edge;
}
