@import "colors";

.orange-button {
  font-family: Roboto, Arial, sans-serif;
  background-color: $primary;
  letter-spacing: 0.25px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  height: 48px;
}

.orange-button:hover {
  background-color: lighten($primary, 5.5%);
}

.orange-button:disabled {
  background-color: $accent2;
  color: $white3;
  border-color: $pale-text;
}

.gray-button {
  font-family: Roboto, Arial, sans-serif;
  background-color: $background;
  letter-spacing: 0.25px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
  border-radius: 8px;
  border: none;
  color: $white;
  cursor: pointer;
  height: 48px;
}

.gray-button:hover {
  background-color: lighten($edge, 5.5%);
}

.gray-button:disabled {
  background-color: $background;
  color: $pale-text;
  border-color: $pale-text;
}

.close-button {
  position: absolute;
  color: $pale-text;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  left: 20px;
  top: 20px;
}

.icon-button {
  all: unset;
  cursor: pointer;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: none;
  display: flex;
  border: none;
  transform-origin: center center;

  &:hover {
    filter: brightness(1.2);
    transition: filter 0.05s ease;
  }
}
