$white: rgb(255, 255, 255);
$white2: rgb(230, 230, 230);
$white3: rgb(209, 209, 209);
$whitish: #CCCCCC;
$pale-text: #AAAAAA;
$white4: rgb(170, 170, 170);
$edge: rgb(115, 115, 115);
$edge2: rgb(66, 65, 64);
$card: rgb(138, 131, 124);
$background: rgb(99, 95, 92);
$background2: rgb(76, 74, 72);
$background3: rgb(74, 71, 67);
$background4: rgb(53, 49, 45);
$accent: rgb(240, 137, 47);
$accent2: rgb(164, 93, 32);
$primary: rgb(203, 117, 47);
$secondary: rgb(209, 127, 58);
$red: #c62b2b;
$yellow: #FFD726;
$blue: #279EFF;
$green: #2a9a24;
