<div *ngIf="loading" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="container">
  <button (click)="auth.logout(); playerService.destroy();" class="logout-button orange-button">Logout</button>

  <div class="centering">
    <div class="text-and-image">
      <img *ngIf="artist!.cover_url; else missingCoverArtist" [src]="artist!.cover_url" alt="cover" class="cover-picture"/>
      <ng-template #missingCoverArtist>
        <app-round-missing-icon-small [icon_name]="'artist'" class="cover-no-picture"></app-round-missing-icon-small>
      </ng-template>
      <p class="big-text-artist">{{ artist!.name }}</p>
      <button (click)="toggleArtistSubscription($event)" class="subscribe-button">
        <span class="material-symbols-rounded icon" [ngClass]="{ 'full': artist!.isSubscribed }">circle_notifications</span>
      </button>
    </div>
  </div>

  <div *ngIf="artist!.singles.length === 0 && artist!.albums.length === 0" class="no-content">
    No content
  </div>

  <div class="entities">
    <div *ngIf="artist!.singles.length !== 0">
      <p class="big-text">Singles</p>
      <div class="singles horizontal-scroller">
        <div *ngFor="let single of artist!.singles" class="single-song">
          <button class="icon-button" (click)="router.navigate(['musical-content', single.content_id])">
            <img *ngIf="single.cover_url; else missingCoverSingle" [src]="single.cover_url" alt="cover" class="cover-picture-big"/>
            <ng-template #missingCoverSingle>
              <app-box-missing-icon-x-large [icon_name]="'music_note'" class="cover-no-picture"></app-box-missing-icon-x-large>
            </ng-template>
          </button>
          <p class="song-name">{{ single.name }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="artist!.albums.length !== 0">
      <p class="big-text">Albums</p>
      <div class="albums horizontal-scroller">
        <div *ngFor="let album of artist!.albums" class="single-album">
          <button class="icon-button" (click)="router.navigate(['musical-content', album.content_id])">
            <img *ngIf="album.cover_url; else missingCoverAlbum" [src]="album.cover_url" alt="cover" class="cover-picture-big"/>
            <ng-template #missingCoverAlbum>
              <app-box-missing-icon-x-large [icon_name]="'album'" class="cover-no-picture"></app-box-missing-icon-x-large>
            </ng-template>
          </button>
          <p class="album-name">{{ album.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
