@import "colors";
@import "buttons";

.container {
  padding: 3rem 6rem;
  position: relative;
}

.big-text {
  color: $white;
  font-size: xx-large;
}

.album {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.song-table {
  width: 70%;
}

.text-and-image {
  display: flex;
  gap: 15px;
  align-items: center;
}

.no-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 110px;
}

.cover-picture {
  width: 52.5px;
  height: 52.5px;
  border-radius: 5px;
  display: block;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}
