<div *ngIf="loading" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="container">
  <button (click)="auth.logout()" class="logout-button orange-button">Logout</button>

  <div class="album">
    <div class="text-and-image">
      <img *ngIf="this.single!.cover_url; else missingCover" [src]="this.single!.cover_url" alt="cover" class="cover-picture"/>
      <ng-template #missingCover>
        <app-box-missing-icon-small [icon_name]="'album'" class="cover-no-picture"></app-box-missing-icon-small>
      </ng-template>
      <p class="big-text">{{ single!.name }}</p>
    </div>
    <app-song-table [songs]="transformForSongsTable()" [showAlbum]="false" />
  </div>
</div>
