<div *ngIf="loading" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="container">
  <button (click)="auth.logout(); playerService.destroy();" class="logout-button orange-button">Logout</button>

  <div class="new-and-subscriptions">
    <div class="subscriptions">
      <mat-table [dataSource]="subscribedToDataSource">
        <ng-container matColumnDef="subscriptionName">
          <mat-header-cell class="subscriptionName" *matHeaderCellDef>Subscribed to</mat-header-cell>
          <mat-cell class="subscriptionName" *matCellDef="let subscription">
            {{ subscription.subscriptionName }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
          <mat-cell class="actions" *matCellDef="let subscription">
            <button mat-icon-button  (click)="onUnsubscribe(subscription)" [disabled]="busyTopics.has(subscription.topic)">
              <span class="material-symbols-rounded icon-full">circle_notifications</span>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
