@import "buttons";
@import "colors";
@import "table";

.container {
  padding: 3rem 6rem;
  position: relative;
}

.big-text {
  color: $white;
  font-size: xx-large;
}

.icon-full {
  font-variation-settings: "FILL" 1;
  color: $white;
}

.new-and-subscriptions {
  display: flex;
  justify-content: space-evenly;
}

.subscriptions {
  flex: 0 0 100%;
  background-color: $background2;
  padding: 24px 24px 24px 24px;
  border-radius: 24px;
  margin-top: 102px;
  height: min-content;
  max-width: 500px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0;
}

mat-header-cell.subscriptionName,
mat-cell.subscriptionName {
  flex: 0 0 85%;
}

mat-header-cell.actions,
mat-cell.actions {
  flex: 0 0 15%;
}
