<div class="sidebar">
  <span class="sidebar-banner">
    <img class="resize-banner" priority ngSrc="/banner.svg" alt="" fill>
  </span>

  <hr class="sidebar-line">

  <ng-container *ngFor="let item of sidebarItems">
    <a *ngIf="currentUserRole && item.roles.includes(currentUserRole)"
       (click)="item.action ? item.action() : null"
       routerLinkActive="active-link"
       [routerLink]="item.link"
       [ngClass]="item.class">
      <span class="material-symbols-rounded">{{ item.icon }}</span> {{ item.label }}
    </a>
  </ng-container>

  <hr *ngIf="currentUserRole === 'User'" class="sidebar-line-no-margin">

  <div *ngIf="currentUserRole === 'User'" class="user-playlists">
    <ng-container *ngFor="let item of userPlaylists">
      <a routerLinkActive="active-link"
         [routerLink]="'/my-playlist/' + item.id">
        <span class="material-symbols-rounded">queue_music</span> {{ item.name }}
      </a>
    </ng-container>
  </div>
</div>
