<div class="container">
  <div *ngIf="loading" class="loading-overlay">
    <mat-spinner></mat-spinner>
  </div>

  <button (click)="onNoClick()" class="close-button" mat-icon-button tabindex="-1">
    <span class="material-symbols-rounded">close</span>
  </button>

  <div class="info-and-picture">
    <div class="info">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Artists</mat-label>
        <mat-select [(ngModel)]="selectedArtists" multiple>
          <mat-option *ngFor="let artist of artists" [value]="artist.artist_id">{{ artist.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Genres</mat-label>
        <mat-select [(ngModel)]="selectedGenres" multiple>
          <mat-option *ngFor="let genre of genres" [value]="genre.genre_id">{{ genre.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <app-upload-song-box class="file"></app-upload-song-box>
    </div>

    <div class="picture">
      <app-upload-image-box [imageUrl]="data?.cover_url"></app-upload-image-box>
    </div>
  </div>

  <button (click)="createSong()" [disabled]="loading" class="orange-button finish">
    {{ isEditMode ? 'Update' : 'Create' }}
  </button>
</div>
