@import "table";
@import "colors";
@import "buttons";

.container {
  display: flex;
  padding: 80px 180px;
}

.table-container {
  width: 100%;
  background-color: $background2;
  padding: 24px 24px 40px 24px;
  border-radius: 24px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0;
}

.nowrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-header-cell.name,
mat-cell.name {
  flex: 0 0 15%;
}

mat-header-cell.genres,
mat-cell.genres {
  flex: 0 0 15%;
}

mat-header-cell.biography,
mat-cell.biography {
  flex: 0 0 60%;
}

mat-header-cell.actions,
mat-cell.actions {
  flex: 0 0 10%;
}
