@import "table";
@import "colors";
@import "buttons";

.container {
  display: flex;
  padding: 80px 180px;
}

.table-container {
  width: 100%;
  min-width: 500px;
  background-color: $background2;
  padding: 24px 24px 40px 24px;
  border-radius: 24px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0;
}

.nowrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-header-cell.cover,
mat-cell.cover {
  flex: 0 0 7%;
  min-width: 80px;
  justify-content: center !important;
}

mat-header-cell.name,
mat-cell.name {
  flex: 0 0 20%;
  min-width: 120px;
}

mat-header-cell.genres,
mat-cell.genres {
  flex: 0 0 20%;
  min-width: 120px;
}

mat-header-cell.biography,
mat-cell.biography {
  flex: 1 1 50%;
}

mat-header-cell.actions,
mat-cell.actions {
  flex: 0 0 10%;
  min-width: 100px;
}

.cover-no-picture {
  margin-top: 6px;
  margin-bottom: 6px;
}

.cover-picture {
  width: 52.5px;
  height: 52.5px;
  border-radius: 5px;
  display: block;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  margin: 6px 0;
}
