<div>
  <span class="sidebar-banner">
    <img priority ngSrc="/banner.svg" alt="" fill/>
  </span>

  <div class="container">
    <p class="large-text">Login</p>

    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" autocomplete="username"/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="current-password"/>
      </mat-form-field>

      <button class="blue-button button" type="submit" [disabled]="loading">Login</button>
      <button class="blue-button button" type="button" (click)="goRegister()">Register</button>
    </form>
  </div>
</div>
