<div class="player-container">
  <div class="song-info">
    <img *ngIf="currentlyPlayingSong.cover_url; else missingCover" [src]="currentlyPlayingSong.cover_url" alt="cover" class="picture"/>
    <ng-template #missingCover>
      <app-box-missing-icon-small [icon_name]="'music_note'" class="picture"></app-box-missing-icon-small>
    </ng-template>
    <div class="song-details">
      <div class="song-title">{{ currentlyPlayingSong.name }}</div>
      <div class="song-artist">{{ getArtistNames(currentlyPlayingSong) }}</div>
    </div>
  </div>

  <div class="controls-and-progress">
    <div class="controls">
      <button class="control-btn" (click)="skipPrevious()">
        <span class="material-symbols-rounded">skip_previous</span>
      </button>

      <button class="control-btn play" (click)="togglePlay()">
      <span class="material-symbols-rounded">
        {{ player.isPlaying() ? 'pause' : 'play_arrow' }}
      </span>
      </button>

      <button class="control-btn" (click)="skipNext()">
        <span class="material-symbols-rounded">skip_next</span>
      </button>
    </div>

    <div class="progress-wrapper">
      <span class="time">{{ formatTime(currentTime) }}</span>

      <input
        type="range"
        min="0"
        max="100"
        [value]="progress"
        (input)="updateProgress($event)"
        class="progress"
      />

      <span class="time">-{{ formatTime(duration - currentTime) }}</span>
    </div>
  </div>

  <div class="rating-and-lyrics">
    <div class="rating" *ngIf="!authService.isAdmin() && currentlyPlayingSong.content_id !== ''">
      <span
        (click)="deleteRating()"
        class="material-symbols-rounded clear-rating"
      >
      do_not_disturb_on
    </span>
      <span
        *ngFor="let i of ratings"
        class="material-symbols-rounded"
        [ngClass]="{
        'star-full': i <= (hoverRating || starRating),
        'star-empty': i > (hoverRating || starRating)
      }"
        (click)="setStarRating(i)"
        (mouseenter)="setHoverRating(i)"
        (mouseleave)="resetHoverRating()"
      >
    star
    </span>
    </div>
    <button *ngIf="currentlyPlayingSong.content_id !== ''" class="icon-button" (click)="openLyrics()">
      <span class="material-symbols-rounded lyrics">lyrics</span>
    </button>
  </div>
</div>
