<div class="upload-box" (click)="onBoxClick(fileInput)">
  <ng-container *ngIf="!image; else imagePreview">
    <span class="material-symbols-rounded icon">add_photo_alternate</span>
  </ng-container>

  <ng-template #imagePreview>
    <img [src]="image?.url" alt="Selected Image" />
    <button mat-icon-button class="remove-btn" (click)="onRemoveImage($event, fileInput)">
      <span class="material-symbols-rounded">close</span>
    </button>
  </ng-template>

  <input type="file" #fileInput hidden (change)="onSelectNewImage($event)" accept="image/*" />
</div>