@import "colors";

.drop-zone {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.selected-file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  transform: scale(5);
  color: $edge;
}
