@import "colors";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sub-container {
  display: flex;
}

.sub_container_height {
  height: calc(100vh - 100px);
}

.content {
  width: 100%;
  overflow: auto;
  background-color: $background;
  scrollbar-color: $edge2 transparent;
}

.player-height {
  height: 100px;
}

::ng-deep .logout-button {
  border-radius: 24px !important;
  width: 130px;
  position: absolute;
  top: 3rem;
  right: 6rem;
}

::ng-deep .bottom-right-button {
  border-radius: 48px !important;
  box-shadow: 4px 4px 10px $edge2 !important;
  width: 240px;
  min-height: 65px;
  position: absolute;
  bottom: 8rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  z-index: 1000;
  font-size: 1em !important;
  font-weight: 400 !important;
}

::ng-deep .loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

::ng-deep .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

::ng-deep .toast.success,
::ng-deep .toast.error,
::ng-deep .toast.info {
  background-color: $background3 !important;
  border-radius: 12px !important;
  color: $whitish !important;
  margin-right: 0.4rem !important;
  margin-bottom: 0.6rem !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2) !important;
  z-index: 9999 !important;
}

::ng-deep .toast.success {
  border: 3px solid $green !important;
}

::ng-deep .toast.error {
  border: 3px solid $red !important;
}

::ng-deep .toast.info {
  border: 3px solid $accent !important;
}

::ng-deep .toast.success,
::ng-deep .toast.error,
::ng-deep .toast.info {
  .title {
    font-weight: 600 !important;
    font-size: 1rem !important;
  }
}

::ng-deep .toast.success,
::ng-deep .toast.error,
::ng-deep .toast.info {
  .message {
    font-size: 0.9rem !important;
  }
}

::ng-deep .mat-mdc-snackbar-surface {
  background: transparent !important;
  box-shadow: none !important;
}

::ng-deep input.mat-mdc-input-element:autofill {
  transition: background-color 99999s ease 0s,
  color 99999s ease 0s, font-weight 99999s ease 0s,
  font-size 99999s ease 0s !important;
}

::ng-deep mat-label {
  color: $white2 !important;
}
