@import "table";

.play {
  font-variation-settings: "FILL" 1;
}

.container {
  background-color: $background2;
  padding: 24px 24px 40px 24px;
  border-radius: 24px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0;
}

.title-and-artist {
  display: flex;
  flex-direction: column;
}

.clickable-text {
  cursor: pointer;
}

.song-title {
  color: $white;
  font-size: larger;
  margin-bottom: 1px;
  margin-top: 6px;
}

.song-artist {
  font-size: 12px;
  color: $white2;
  margin-bottom: 6px;
  margin-top: 0;
}

/* case 1: both "no" and "album" present */
mat-header-cell.no,
mat-cell.no {
  flex: 0 0 5%;
}
mat-header-cell.title,
mat-cell.title {
  flex: 0 0 30%;
}
mat-header-cell.album,
mat-cell.album {
  flex: 0 0 30%;
}
mat-header-cell.duration,
mat-cell.duration {
  flex: 0 0 10%;
}
mat-header-cell.actions-narrow,
mat-cell.actions-narrow {
  flex: 0 0 25%;
}

/* case 2: "no" present, but no album */
mat-header-cell.title.no-album,
mat-cell.title.no-album {
  flex: 0 0 40%;
}
mat-header-cell.duration.no-album,
mat-cell.duration.no-album {
  flex: 0 0 20%;
}
mat-header-cell.actions-no-album-narrow,
mat-cell.actions-no-album-narrow {
  flex: 0 0 35%;
}

/* case 3: no "no", album present → actions-wide already exists */
mat-header-cell.actions-wide,
mat-cell.actions-wide {
  flex: 0 0 30%;
}

/* case 4: no "no" and no "album" */
mat-header-cell.title.only-title,
mat-cell.title.only-title {
  flex: 0 0 45%;
}
mat-header-cell.duration.only-title,
mat-cell.duration.only-title {
  flex: 0 0 25%;
}
mat-header-cell.actions-only-title,
mat-cell.actions-only-title {
  flex: 0 0 30%;
}
.full-icon {
  font-variation-settings: "FILL" 1;
}