@import "table";
@import "colors";
@import "buttons";

.container {
  display: flex;
  padding: 80px 180px;
}

.table-container {
  width: 100%;
  min-width: 600px;
  background-color: $background2;
  padding: 24px 24px 40px 24px;
  border-radius: 24px;
  margin-bottom: 80px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 0;
}

.cover-picture {
  width: 52.5px;
  height: 52.5px;
  border-radius: 5px;
  display: block;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  margin: 6px 0;
}

.cover-no-picture {
  margin-top: 6px;
  margin-bottom: 6px;
}

.nowrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play {
  font-variation-settings: "FILL" 1;
}

.picture {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background: $white2 none;
  color: $white4;
  transform-origin: top left;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: scale(1.5);
}


mat-header-cell.cover,
mat-cell.cover {
  flex: 0 0 7%;
  min-width: 80px;
  justify-content: center !important;
}

mat-header-cell.name,
mat-cell.name {
  flex: 1 1 24%;
}

mat-header-cell.artists,
mat-cell.artists {
  flex: 1 1 24%;
}

mat-header-cell.genres,
mat-cell.genres {
  flex: 1 1 30%;
}

mat-header-cell.actions,
mat-cell.actions {
  flex: 0 0 15%;
  min-width: 150px;
}
