<div *ngIf="loading" class="loading">
  <mat-spinner></mat-spinner>
</div>

<button (click)="createNewSingle()" class="bottom-right-button orange-button">
  <span class="material-symbols-rounded">add</span> Upload new single
</button>

<div class="container" *ngIf="!loading">
  <div class="table-container">
    <mat-table [dataSource]="singlesDataSource">
      <ng-container matColumnDef="cover">
        <mat-header-cell class="cover" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="cover" *matCellDef="let song">
          <img *ngIf="song.cover_url; else missingCover" [src]="song.cover_url" alt="cover" class="cover-picture"/>
          <ng-template #missingCover>
            <app-box-missing-icon-small [icon_name]="'music_note'" class="cover-no-picture"></app-box-missing-icon-small>
          </ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell class="name" *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell class="name" *matCellDef="let song">
          <p class="nowrap-text">{{ song.title }}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="artists">
        <mat-header-cell class="artists" *matHeaderCellDef>Artists</mat-header-cell>
        <mat-cell class="artists" *matCellDef="let song">
          <p class="nowrap-text">{{ getArtistNames(song) }}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="genres">
        <mat-header-cell class="genres" *matHeaderCellDef>Genres</mat-header-cell>
        <mat-cell class="genres" *matCellDef="let song">
          <p class="nowrap-text">{{ getGenreNames(song) }}</p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell class="actions" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="actions" *matCellDef="let song">
          <button mat-icon-button (click)="updateSong(song)">
            <span class="material-symbols-rounded">edit</span>
          </button>
          <button mat-icon-button (click)="deleteSong(song)">
            <span class="material-symbols-rounded">delete</span>
          </button>
          <button mat-icon-button (click)="playSong(song)">
            <span class="material-symbols-rounded play">play_arrow</span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
